apiVersion: "operators.coreos.com/v1alpha1"
kind: "CatalogSource"
metadata:
  name: "test-operators"
  namespace: "openshift-marketplace"
spec:
  sourceType: grpc
  image: registry.redhat.io/redhat/certified-operator-index:v4.7
  displayName: "Test Operators"
  publisher: "CVP"
  authorizationToken:
    secretName: marketplacesecret
