apiVersion: "operators.coreos.com/v1alpha1"
kind: "CatalogSource"
metadata:
  name: "test-operators"
  namespace: "openshift-marketplace"
spec:
  sourceType: appregistry
  endpoint: "https://quay.io/cnr"
  registryNamespace: {{ quay_namespace }}
  displayName: "Test Operators"
  publisher: "CVP"
  authorizationToken:
    secretName: marketplacesecret
